/* A aplicação do asterisco(*) no arquivo de CSS informa aos navegeados
que TODOS os elementos da tela receberão esta formatação */
*{
    margin: 0; /*estamos zerando as margens externas dos elementos*/
    padding: 0;/* estamos zerando as margens internas dos elementos*/
}

/* vamos aplicar na tag header a cor de fundo e padding*/

header{
    /* background-color: #f87b07; */
    background-image: url("../img/fundo8.jpg");
    background-size: 100%;
    background-position: 0 -650px;
    padding-top: 150px;
    transition: ease 1s; /*efeito de aniamção com transition. */
}
/* formartar a tag h1 que está dentro do header. Veja como fazemos */
header h1{
    color:rgb(7, 0, 0); /* cor da letra*/
    font-family: arial; /* mudar o tipo de fonte*/
    text-align: center; /* alinhamento do texto no centro*/

}

header nav{
    background-color: black;
    text-align: center;
    padding: 5px;

}

header nav ul li{
    /*exibir os itens da lista um ao lado do outro.
    Usaremos o comando display(tela|exibir inline-blcok(blocos em linha) */
    display: inline-block;
    margin: 10px;


}

header ul li a{
    color:#fff;
    font-family: Arial;
    text-decoration:none /*retirar a decoração do texte ou seja, retirar o (_) ;*/
}
header nav ul li a:hover {
    color:chocolate
}

footer{
    /* aplicar uma cor de fundo no rodapé */
    background-color: chocolate;
    /* aplicar margem interna */
    padding: 21px;
    padding-top: 40px;
    height: 110px; /* altura do rodapé*/    

}


/* Para fazer uma formatação em uma tag que um id definido é nescessario
que voce dicione um sustenido(#) ao inicio do nome do id. Neste caso o nosso aid tem 
id chamado end, então aplicamos desta forma #end
 */

footer #end{
    color: #fff;
    font-family: Verdana;
    font-size: 10pt;  
    float: left;   
    /* border: solid 1px black; */

}

footer #redes{
    /* border: solid 1px black; */
    float: right;
}

footer #redes a{
    text-decoration:none ;
}

footer #redes a img{
width: 40px; /* diminuir a largura da imagem */ 
height: 40px; /* diminuir a altura da imagem */
margin: 5px;
transition: ease .5s;
}

footer #redes img:hover{
    /* relaizar uma rotação de 360 graus */
    transform: rotate(360deg);

}

/* inico da formatação da pagina da pagina index */
main h2{
    font-family: arial;
    font-size: 15pt;
    margin: 50px;
    border-bottom: rgb(7, 0, 0)1px solid;   
}

main p{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px; /* margem na parte inferior de cada paragrafo/*
    text-align: justify; /* alinhamento do texto justificado*/
    line-height: 22pt; /* tamanho da letra do texto */
    font-size: 10pt; /* altura da linha que dá um efeito de espaçamento*/
    line-height: arial;


}
main #imghome{
    text-align: center;
}
main #home img{
    width: 300px; /*largura da imagem */
    height: 300px; /* altura da imagem*/
    /* vamos arrendonar os cantos da imagem com o comando
    border-radius. o Valor pode ser em pixel ou porcentagem*/
    border-radius: 50%;
    margin: 10px;
    opacity: 0,6;
    transition: ease 0.5s;
}

main #imghome img:hover{
    opacity: 1;
    transform: scale(1.1);
}
/* fim da formatação da pagina index */

/* iniio da formatação da pagina historia */
main #imghistoria{
    text-align: center;
}
main #imghistoria img{
    width: 300px;
    height: 300px;
    margin:10px ;
}

main #video{
    text-align: center;
    
}
main    #video iframe{
    width: 90%;
    height: 400px;
}

/* fim da formatação da pagina historia  */


/* ------ INICIO DA FORMATAÇÃO DA PAGINA CARDÁPIO -------- */
/* main #area, 
main #area #conteudo, 
main #area #conteudo #img,
main #area #conteudo #texto{
    border: 2px solid rgb(7, 7, 7);
} */

main #area #conteudo #img img{
    width: 200px;
    height: 180px;
}
main #area #conteudo #img{
    width: 210px;
/* fazer a cauxa de imagem flutuar para a esquerda */
    float: left;
}
main #area #conteudo #texto{
    width: 600px;
    float: left;
}
/* aplicar a exibição (dispay) inline-block para as caixas
area e conteudo */
main #area, main #area #conteudo{
    display: inline-block;
    width: 100%;
}
main #area #conteudo #texto h5{
    font-family: arial;
    font-size: arial;
    margin: 1px;
}
main #area #conteudo #texto span{
    color:chocolate
}

main #area #conteudo {
    margin-left: 5px;
    /* aplicar uma borda na parte inferior desta caixa */
    border-bottom: lpx solid black;
}

main h3{
    font-family: arial;
    font-size: 20pt;
    margin: 50px;

}



/* FIM DA FORMATAÇÃO DA PAGINA CARDAPIO  */